extends ../layouts/default.pug

block content
  section.mb-16
    div.mx-auto.px-6.pb-8.max-w-screen-md
      div.post !{content}

      div.mt-12.flex.items-center
        img(class="w-10 h-10 rounded-full mr-4" src="/img/kaneshin.jpg")
        div.text-sm
          p.leading-none Shintaro Kaneko
          p.text-gray-500 #{date}
