- var list = [
-   {
-     title: 'Blog',
-     link: '/blog',
-   },
-   // {
-   //   title: 'Photography',
-   //   link: '/photography',
-   // },
-   // {
-   //   title: 'Magic',
-   //   link: '/magic',
-   // },
-   // {
-   //   title: 'Contact',
-   //   link: '/contact',
-   // },
-   {
-     title: 'About',
-     link: '/about',
-   },
- ]
each item in list
  div(class="my-1 px-4 md:px-6 text-center md:text-left")
    a(class="hover:underline" href=item.link)
      h3.text-lg #{item.title}
