// Color
$color-green-00: #00A470 !default;
$color-green-01: #00C184 !default;
$color-green-02: #1ACE91 !default;
$color-green-03: #34DA9E !default;
$color-green-04: #86EDC8 !default;
$color-green-05: #B4FDE3 !default;
$color-green-06: #EBFFF8 !default;

$color-blue-00: #00ABB3 !default;
$color-blue-01: #00B8C0 !default;
$color-blue-02: #00C4CC !default;
$color-blue-03: #52D5DE !default;
$color-blue-04: #8FE6EC !default;
$color-blue-05: #B3EDF1 !default;
$color-blue-06: #E1F9FA !default;

$color-gray-00: #3E4448 !default;
$color-gray-01: #54595D !default;
$color-gray-02: #788086 !default;
$color-gray-03: #8D9399 !default;
$color-gray-04: #CBCED0 !default;
$color-gray-05: #DFE1E3 !default;
$color-gray-06: #EBECED !default;
$color-gray-07: #F8F9F9 !default;
$color-gray-08: #f9f9f9 !default;

$color-red-00: #DB4444 !default;
$color-red-01: #E84949 !default;
$color-red-02: #F44F4F !default;
$color-red-03: #F67272 !default;
$color-red-04: #F99595 !default;
$color-red-05: #FBB8B8 !default;
$color-red-06: #FDDCDC !default;

$family-monospace: Monaco, monospace;
$family-code: $family-monospace;

