extends layouts/default.pug

block content
  div(class="h-64 bg-cover bg-center text-center" style="background-image: url(/img/eureka.jpg)")

  section.mt-12.mb-16
    div.mx-auto.px-6.max-w-screen-xl
      div.mb-5
        h2(class="font-display text-4xl md:text-5xl font-bold") About

      p T.B.D.
