extends layouts/default.pug

block content
  div(class="h-64 bg-cover bg-center text-center" style="background-image: url(/img/eureka.jpg)")

  section.mt-12.mb-16
    div.mx-auto.px-6.max-w-screen-md
      div.mb-5
        h2(class="font-display text-4xl md:text-5xl font-bold") About

      h3 Intro
      p Hi, I’m Shintaro. Please call me Shin. If you are able to speak Japanese, you can call me Kaneshin which is also my nickname. 

      h3 Situation

      p I’m the Chief Technology Officer at eureka. I develop engineering policy and technology strategy to enhance our products based on brand and product strategies.

      h3 Background
      p foo
