extends layouts/default.pug

block content
  section.my-16
    div.mx-auto.px-6.max-w-screen-xl
      div(class="md:flex md:justify-between")

        div(class="mb-4 md:mb-0 md:mr-4 md:flex")
          img(class="mx-auto mb-4 md:ml-0 md:mr-6 h-20 w-20 md:h-24 md:w-24 rounded-full" src="/img/kaneshin.jpg")
          div(class="text-center md:text-left")
            h2.text-xl Shintaro Kaneko
            p.mb-2 Tokyo, Japan
            p.font-thin Hi, this is kaneshin. Building things with Go.
            p.font-thin Experiences: Go / C / JavaScript / TypeScript / Swift / Engineering Management / Mathematics

        div(class="mb-4 md:w-1/4 flex justify-center flex-wrap md:flex-col md:self-start md:border-l")
          include components/directory.pug

  section.mb-16
    div.mx-auto.px-6.max-w-screen-xl
      include components/activity.pug

  section.mb-16
    div.mx-auto.px-6.pb-8.max-w-screen-xl
      div
        h2(class="font-display text-4xl md:text-5xl font-bold") "Be Natural"
        p what I mean by "This is be yourself".

    div
      img(src='/photos/2011/IMG_2110.jpg')
