extends layouts/default.pug

block content
  section.mt-12.mb-16
    div.mx-auto.px-6.max-w-screen-md
      div.mb-5
        h2(class="font-display text-4xl md:text-5xl font-bold") Micro
        p Notes on <a href="https://micro.blog/kaneshin">micro.blog</a>.

      div#micro-posts
