extends layouts/default.pug

block content
  section.mt-12.mb-16
    div.mx-auto.px-6.max-w-screen-xl
      div.mb-12
        h2(class="font-display text-4xl md:text-5xl font-bold") Playground

      div#playground-container.mb-8
      div#playground-banner-alert.mb-8
