@font-face {
  font-family: "Proxima Nova";
  src: url("/media-assets/fonts/Proxima Nova Light.otf") format("otf");
  font-weight: 200;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/media-assets/fonts/Proxima Nova Regular.otf") format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/media-assets/fonts/Proxima Nova Medium.otf") format("otf");
  font-weight: 500;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/media-assets/fonts/Proxima Nova Bold.otf") format("otf");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/media-assets/fonts/Roboto-Light.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("/media-assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/media-assets/fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/media-assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
}
