doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="description" content="Who is kaneshin")
    meta(property="og:title" content="kaneshin.co")
    meta(property="og:description" content="Who is kaneshin")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://kaneshin.co/")
    meta(property="og:image" content="https://kaneshin.co/kaneshin.jpg")
    meta(name="twitter:card" content="Who is kaneshin")
    meta(name="twitter:site" content="@kaneshin0120")
    title kaneshin.co - free space for Shintaro Kaneko
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(rel="stylesheet" href="app.css")
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-71886081-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-71886081-1');

  body
    include ../components/header.pug

    block content

    include ../components/footer.pug
